$fz-title-laptop: 48px;
$fz-title-tablet: 44px;
$fz-title-mobile: 28px;
$fz-caption-laptop: 20px;
$fz-caption-tablet: 20px;
$fz-caption-mobile: 18px;
$fz-subcaption-laptop: 16px;
$fz-subcaption-tablet: 16px;
$fz-subcaption-mobile: 15px;
