.clients {
	background: $color-bg-green url("/src/img/clients__hieroglyph.png") no-repeat;
	margin-top: 150px;
	&__wrapper {
		width: 100%;
		display: flex;
		padding: 100px 5%;
		justify-content: space-evenly;
		@media screen and (max-width: 1000px) {
			flex-wrap: wrap;
		}
		@include mobile {
			padding: 100px 0;
		}
	}

	&__title {
		@extend %title;
		padding-right: 30px;
		font-size: $fz-title-laptop;
		color: white;
		@include tablet {
			font-size: $fz-title-tablet;
		}
		@include mobile {
			font-size: $fz-title-mobile;
			padding-right: 0;
			margin-bottom: 40px;
		}
	}

	&__block-content {
		width: 100%;
		border-radius: 8px;
		background-color: rgb(255, 255, 255);
		padding: 30px 40px 60px 40px;
		@include table {
			padding: 0px 20px;
		}
	}

	&__info {
		display: flex;
		justify-content: space-between;

		padding: 30px 0 30px 0;
		border-bottom: #d7d7dda2 0.5px solid;
		@include tablet {
			flex-wrap: wrap;
		}
	}

	&__logo {
		object-fit: none;
		@include mobile {
			margin: 0 auto;
		}
	}

	&__description {
		padding-left: 20px;
		display: flex;
		flex-direction: column;
		padding-top: 20px;
		font-size: 11px;
		text-align: start;
		max-width: 300px;
		@extend %subcaption;
		@include mobile {
			display: none;
		}
	}

	&__description-item {
		padding: 0;
		margin: 0;
	}
}

.clients {
	&__table {
		@include table {
			display: none;
		}

		border: none;
		width: 100%;
		font-size: 14px;
		margin: 30px 0 0 0;
		thead {
			background: $color-bg-green;
			color: white;
		}
		th {
			font-size: 16px;
			text-align: center;
			border-left: 1px rgba(181, 181, 181, 0.329) solid;
			border-right: 1px rgba(181, 181, 181, 0.329) solid;
			padding: 10px 0;
		}
		tbody {
			background: #f5f5f8;
			tr {
			}
		}
		tr {
		}
		td {
			border: 1px solid black;
			vertical-align: top;
			padding: 24px 15px 24px 15px;
		}
		td:nth-child(1) {
			width: 15%;
		}
		td:nth-child(2) {
			width: 25%;
		}
		td:nth-child(3) {
			width: 30%;
		}
		td:nth-child(4) {
			width: 30%;
		}
	}

	&__images {
		min-width: 80px;
	}

	&__characteristic {
	}

	&__price {
		@extend %title;
	}

	&__manufacturer-name {
		@extend %title;
	}

	&__manufacturer-location {
	}

	&__manufacturer-rating {
		color: #ffce50;
	}

	&__face {
		@extend %title;
	}

	&__post {
	}

	&__number {
		@extend %title;
	}
}
.clients-dropdown {
	display: none;
	color: #6b6b6c;
	@include table {
		display: block;
	}

	&__block-dropdown {
		width: 100%;
		border-radius: 3px;
		text-align: center;
		color: white;
		background: $color-bg-green;
		margin-bottom: 10px;
	}

	&__but {
		@extend %title;
		background: $color-bg-green;
		color: white;
		width: 100%;
		text-align: left;
		padding: 10px 15px;
		position: relative;
		border-radius: 2px;

		transition: 0.4s;
		&::after {
			right: 5%;
			top: 0px;
			content: "+";
			position: absolute;
			font-size: 23px;
			color: white;
		}
	}
	.active {
		background-color: #ccc;
		&::after {
			content: "-";
		}
	}
	&__content {
		padding: 10px 20px;
		display: none;
		overflow: hidden;
		flex-direction: column;
		background: $color-bg-green;
	}

	&__link {
		padding: 10px 15px;
		color: white;
		border: none;
		transition: 0.4s;

		&:hover {
			color: #ffce50;
			transition: 0.4s;
		}
	}
	&__link--active {
		color: rgb(215, 0, 0);
		transition: 0.4s;

		&:hover {
			color: #b7ff00;
			transition: 0.2s;
		}
	}

	&__client {
		background-color: #f5f5f8;
		font-size: 14px;
		padding: 0 20px;
	}
	&__client1 {
	}
	&__client2 {
	}
	&__client3 {
	}
	&__client {
		display: none;
	}
	&__client--active {
		display: block;
	}

	&__element-characteristic {
		display: flex;
		align-items: center;
		@include mobile {
		}
	}

	&__element {
		padding: 20px 0px;
		border-bottom: #b2b2b36e 0.5px solid;
		&:last-child {
			border-bottom: none;
			margin-bottom: 20px;
		}
	}

	&__img {
		object-fit: contain;
		min-width: 80px;
	}

	&__description {
		padding-left: 20px;
		max-width: 300px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__price {
		@extend %title;
	}

	&__element-manufacter {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__manufacturer-name {
		@extend %title;
	}

	&__manufacturer-location {
		padding: 10px 0;
	}

	&__manufacturer-rating {
		color: #ffce50;
	}

	&__element-contact {
	}

	&__face {
		@extend %title;
	}

	&__post {
		padding: 10px 0;
	}

	&__number {
		@extend %title;
	}
}
.fa-solid {
}
.fa-star {
	padding-right: 5px;
}
.fa-star-half {
}
