@include jojo1285 {
	.header {
		// .header__upper-block
		//!пустышки не удаляю т.к. понадобится еще
		&__upper-block {
			max-height: 650px;
		}

		// .header__description

		&__description {
		}

		// .header__title

		&__title {
			font-size: 48px;
		}

		// .header__subtitle

		&__subtitle {
		}

		// .header__button

		&__button {
		}

		// .header__image

		&__image {
		}

		// .header__bottom-block

		&__bottom-block {
		}

		// .header__list

		&__list {
		}

		// .header__item

		&__item {
		}

		// .header__item--modborder

		&__item--modborder {
		}
	}
	.title {
	}
	.subtitle {
	}
	.header-item {
		// .header-item__block

		&__block {
		}

		// .header-item__image

		&__image {
			padding-left: 20px;
			width: 92px;
		}

		// .header-item__text

		&__text {
		}

		// .header-item__caption

		&__caption {
		}

		// .header-item__subtitle

		&__subtitle {
		}
	}
	.caption {
	}
}
@include tablet {
	.container {
		width: 90%;
		margin: 0 auto;
	}
	.background {
		display: none;
		// max-width: 20%;
	}
	.header {
		// .header__upper-block
		display: flex;
		margin-top: 0px;
		margin-top: 80px;
		&__upper-block {
			flex-wrap: wrap;
			// margin-bottom: 20px;
		}

		// .header__description

		&__description {
			padding-left: 0px;
			display: flex;
			max-width: 100%;
			max-height: 100%;
			justify-content: center;
			padding-bottom: 0;
		}

		// .header__title

		&__title {
			font-size: 48px;
		}

		// .header__subtitle

		&__subtitle {
		}

		// .header__button

		&__button {
			margin-bottom: 60px;
		}

		// .header__image

		&__image {
			max-width: 690px;

			max-height: 314px;
			min-width: 100%;
			margin: 0 auto;
			padding-left: 0px;
		}

		// .header__bottom-block

		&__bottom-block {
			// margin-top: 50px;
			box-shadow: none;
			border: none;
			background: none;
		}

		// .header__list

		&__list {
			flex-direction: column;
		}

		// .header__item

		&__item {
			flex-direction: row;
			box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
			border-radius: 20px;
			padding: 20px 0;
			margin: 0px 0 15px 0;
		}

		// .header__item--modborder

		&__item--modborder {
		}
	}
	.title {
	}
	.subtitle {
	}
	.header-item {
		// .header-item__block

		&__block {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			padding-left: 30px;
		}

		// .header-item__image

		&__image {
			width: 92px;
			margin-right: 32px;
			padding-left: 0px;
		}

		// .header-item__text

		&__text {
			display: inline;
			width: 100%;
		}

		// .header-item__caption

		&__caption {
			font-size: 20px;
			min-width: 100%;
		}

		// .header-item__subtitle

		&__subtitle {
			min-width: 100%;
			font-size: 16px;
		}
	}
	.caption {
	}
}
