@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
.header-item__caption, .header__title {
  font-family: "Exo 2";
  font-style: normal;
  font-weight: 600;
  color: #363738;
}

.background {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0px;
  max-width: 40%;
  max-height: 73.4%;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  margin-top: 110px;
}
.header__upper-block {
  display: flex;
}
.header__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
  padding-left: 50px;
}
.header__title {
  font-size: 52px;
  max-width: 610px;
}
.header__subtitle {
  margin: 30px 0 25px;
  max-width: 555px;
}
.header__button {
  max-width: 120px;
  border: none;
  border-bottom: 4px yellow solid;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}
.header__button:hover {
  border-bottom: 5px rgb(0, 255, 64) solid;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}
.header__button a {
  font-weight: bold;
  color: black;
  font-size: 16px;
  line-height: 24px;
}
.header__button a:hover {
  font-weight: bold;
  color: rgb(0, 104, 69);
  text-decoration: none;
}
.header__image {
  max-width: 635px;
  max-height: 505px;
  width: 50%;
  padding-left: 20px;
  border-radius: 5%;
}
.header__bottom-block {
  background: white;
  margin-top: 50px;
  padding: 20px 0;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 5px 10px 9px rgba(34, 60, 80, 0.2);
}
.header__list {
  display: flex;
  padding: 0;
  margin: 0;
}
.header__item {
  width: 100%;
  display: flex;
  margin: 30px 0 30px 0;
}
.header__item--modborder {
  border-left: 0.1px rgba(177, 177, 177, 0.438) solid;
  border-right: 0.1px rgba(175, 175, 175, 0.438) solid;
}

.header-item__block {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.header-item .header-item__text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 20px 0 0;
}
.header-item__image {
  padding-bottom: 10px;
  margin-right: 200px;
  width: 92px;
}
.header-item__caption {
  padding-top: 15px;
  font-size: 20px;
  max-width: 250px;
}
.header-item__subtitle {
  font-size: 16px;
  max-width: 250px;
}

@media (max-width: 1200px) {
  .header__title {
    font-size: 48px;
  }
  .header-item__image {
    padding-left: 20px;
    width: 92px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .background {
    display: none;
  }
  .header {
    margin-top: 0px;
  }
  .header__upper-block {
    flex-wrap: wrap;
    align-content: center;
  }
  .header__description {
    padding-bottom: -30px;
    padding-left: 0px;
  }
  .header__title {
    font-size: 48px;
  }
  .header__image {
    max-width: 690px;
    width: 100%;
    height: 40%;
    margin: 0 auto;
    padding-left: 0px;
  }
  .header__bottom-block {
    margin-top: 0px;
    box-shadow: none;
    border: none;
    background: none;
  }
  .header__list {
    flex-direction: column;
  }
  .header__item {
    flex-direction: row;
    box-shadow: 0px 5px 10px 9px rgba(34, 60, 80, 0.2);
    border-radius: 25px;
    margin: 0px 0 30px 0;
  }
  .header-item__block {
    display: flex;
    flex-direction: row;
    padding: 30px 0;
    margin: 0 auto;
  }
  .header-item__image {
    width: 92px;
    margin-right: 50px;
    padding-left: 0px;
  }
  .header-item__text {
    padding-right: 50px;
    display: inline;
  }
  .header-item__caption {
    font-size: 20px;
    width: 100%;
    max-width: 360px;
  }
  .header-item__subtitle {
    font-size: 16px;
    width: 100%;
    max-width: 400px;
  }
}
body {
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  color: #6b6b6c;
  background: #f8f8f8;
}

.container {
  position: relative;
  display: flex;
  max-width: 1440px;
  justify-content: center;
  margin: 0 auto;
}